<% layout('layouts/boilerplate') %>

	<div class="row">
		<h1 class="text-center">New Campground</h1>
		<div class="col-6 offset-3">
			<form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
				<div class="mb-3">
					<label class="form-label" for="title">Title</label>
					<input class="form-control" type="text" id="title" name="campground[title]" required>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">
				        The campground needs to have a name.
				    </div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="location">Location</label>
					<input class="form-control" type="text" id="location" name="campground[location]" required> 
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">
				        The campground needs to be located somewhere.
				    </div>
				</div>
				<div class="mb-3">
				    <label for="formFileMultiple" class="form-label">Upload Images</label>
				    <input type="file" class="form-control" id="formFileMultiple" name="image" multiple required>
				    <p><em><small>The picture will be converted into 1920x1080 dimensions. (Upload at least 1 image)</small></em></p>
				</div>
				<div class="mb-3">
					<label class="form-label" for="price">Campgroud Price</label>
					<div class="input-group">
	  					<span class="input-group-text" id="price-label">$</span>
	  					<input type="text" name="campground[price]" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
	  					<div class="invalid-feedback">
				        	The campround must have a price.
				    	</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description</label>
					<textarea rows="6" class="form-control" type="text" id="description" name="campground[description]" required></textarea>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">
				        Tell the users a little about this campground!
				    </div>
				</div>
				<div class="mb-3">
					<button class="btn btn-success">Add Campground</button>
				</div>
				
			</form>
		</div>
	</div>

